extends layout

block content
  h1 #{title}
  ul.list-group
    each passeio, i in passeios
      li.list-group-item
        div
        a(href="/passeios/"+passeio._id)= passeio.pet + passeio.valor_passeio + passeio.body
